/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}
/* general Color to allow easy adjustment */
:root {
  --primary-color: #4449A6;
  --primary-color-shades: #3E428C;
  --secondary-color: #049DD9;
  --secondary-color-light: #059bd79b; 
  --secondary-color-shades: #04B2D9;
  --main-color: #F2F2F2;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: Arial, sans-serif;
}

/* Reusables */
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button,
input {
  border: none;
}
img {
  max-width: 100%;
}
/* Logo */
#logo {
  /* width: 50px; */
  /* height: 50px;
  position: absolute;
  top: 0px;
  left: 5px;
  border-radius: 50px; */
}

/* Navigation Bar */
nav {
  background-color: var(--secondary-color-light);
  padding: 15px 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 15px; */
}
.logo-container {
  width: 50px;
}
.logo-container img {
  max-width: 100%;
}
.navbar li {
  display: inline-block;
}
/* Navigation container */
.nav-items{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.navbar li a {
  color: rgb(66, 65, 65);
  font-size: 18px;
  font-weight: 700;
  transition: color 0.3s;
  position: relative;
  padding: 5px 10px;
}

.navbar li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: red;
  transition: width 0.3s ease-in-out;
}

.navbar li a:hover {
  color: #f0f0f0;
}

.navbar li a:hover::after {
  width: 100%;
  background-color: white;
}
.menu-button {
  color: black;
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: hsla(266, 74%, 64%, 0.863);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar li {
  align-items: center;
}

.sidebar li:first-child {
  align-self: flex-end;
}

.sidebar a {
  width: 100%;
  color: hsl(263, 29%, 88%);
  font-size: 18px;
  transition: all 0.4s ease;
}

.sidebar a:hover {
  display: inline-block;
  opacity: 0.7;
  transform: scale(1.1);
}

/* Responsive Navigation */
@media (max-width: 800px) {
  .nav-items {
    display: none;
  }
  .menu-button {
    display: block;
    position: relative;
    top: 5px;
    left: 0px;
  }
}

@media screen and (max-width: 300px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar ul:first-child {
    align-self: flex-end;
  }
  .navbar li:last-child {
    align-self: flex-end;
  }
  .navbar li {
    margin-bottom: 10px;
  }
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


/* Mission and Vision Section */
.mission-vision {
  background-color: hsla(76, 73%, 51%, 0.253);
  padding: 20px;
}

.mission-vision h2 {
  margin-bottom: 10px;
  text-align: center;
}

.mission-content {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.mission-content p {
  width: 400px;
  margin-top: 30px;
}

@media (max-width: 700px) {
  .mission-content {
    flex-direction: column;
  }
  .mission-content p {
    width: 90%;
  }
}

/* Contact Us Section */
.contact-section {
  max-width: 100rem;
  max-height: 80rem;
  margin: 50px auto 0;
  padding: 3rem 1rem;
  background: #f0f0f0;
  display: flex;
  justify-content: space-evenly;
}

.contact-intro > * + * {
  margin-top: 1rem;
}

.contact-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.contact-description {
  color: rgb(107 114 128);
}

.form-group-container {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  height: 2.5rem;
  width: 50%;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.form-input::placeholder,
.form-textarea:focus-visible {
  color: #6b7280;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}

.form-textarea {
  min-height: 120px;
}

.form-submit {
  width: 30%;
  height: 40px;
  margin-top: 1.2rem;
  background-color: #918bd3;
  color: #fff;
  padding: 13px 5px;
  border-radius: 0.375rem;
  cursor: pointer;
}

.form-submit:hover {
  background-color: hsla(245, 39%, 72%, 0.678);
}

.contact-company ul {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-company ul a {
  color: #333;
}

/* Newsletter */
.news-letter {
  margin-top: 50px;
}

.news-letter form {
  background-color: hsla(240, 37%, 88%, 0.5);
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .contact-section {
    flex-direction: column;
  }
  .contact-company h1 {
    margin-top: 70px;
  }
  .form-submit {
    width: 40%;
  }
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  font-size: 14px;
}

@media (max-width: 700px) {
  footer {
    margin-top: 50px;
  }
}
