
/* Reset CSS */
* 
{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

#logo {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 10px;
    border-radius: 10px;
}


/* Navigation Bar */
nav {
    background-color: rgb(255, 165, 0, 0.7);
    padding: 20px 20px;
    /* width: 100%; */
    /* Avoid specifying the height and width work on padding since it will after on responsive design */
    /* height: 50px; */
}

.navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Removed margin-height and updated to gap */
    gap: 20px;
    position: fixed;
    top: 15px;
    left: 1px;
    width: 100%;
    height: 40px;
}
#social-icon{
    scale: 1.5;
    margin-right: 10px;
}
#social-icon:hover{
    animation:shake;
    animation-duration: 0.5s;
    cursor: pointer;
    
}
@keyframes shake{
    25%{transform: rotateZ(15deg);}
    50%{transform: rotateZ(-15deg);}
    75%{transform: rotateZ(15deg);}
    100%{transform: rotateZ(-15deg);}
}
@keyframes fadeout{
    from{transform: scale(1);}
    to{transform: scale(0.01);}
}
.navbar li:first-child {
    justify-self: flex-start;
}

.navbar li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: rgb(66, 65, 65);
    transition: all 0.3s;
    position: relative;

    /* padding: 5px; */
}

.navbar li a:hover {
    color: orange;
}

.navbar li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background-color: none
    ;
}

.navbar li a:hover .navbar li a::after {
    width: 100%;
    background-color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: hsla(266, 74%, 64%, 0.863);
    backdrop-filter: blur(20px);
    /* box-shadow: -10px 0 10px rgb(0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content:space-between; */
    justify-content: space-evenly;
    list-style-type: none;
    /* padding: 20px; */
    gap: 5px;
}

.sidebar li {
    /* border-bottom: 1px solid white; */
    align-items: center;
}

.sidebar li:first-child {
    align-self: flex-end;
    border: none;
}

.sidebar a {
    width: 100%;
    color: hsl(263, 29%, 88%);
    text-decoration: none;
    font-size: 18px;
    transition: all .4s ease;
}

.sidebar a:hover {
    /* By default diplay of a- anchor element is inline, so to specify transformation and margin stuffs you need to Change the siplay to inline-block or Block. */
    display: inline-block;
    /* Just us the opacity propety */
    /* color: hsla(261, 28%, 88%, 0.644); */
    opacity: 0.7;
    transform: scale(1.1);
    /* transition: transform ease-in 0.5s 1; */

}

.menu-button {
    color: black;
    display: none;
}

/* Responsive Navigation */
@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
        position: relative;
        top: 5px;
        left: 0px;
    }
}

@media screen and (max-width: 300px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul:first-child {
        align-self: flex-end;
    }

    .navbar li:last-child {
        align-self: flex-end;
    }

    .navbar li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    padding: 100px 0;
    gap: 10px;
    height: 100vh;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.hero-content {
    margin-right: 10px;
    margin-left: 10px;
}

.hero-content a {

    text-decoration: underline;
    color: black;
}

.hero-content p {
    font-size: 1.5rem;
    margin-top: 50px;
}

#hero-image {
    width: 700px;
    height: 460px;
    border-radius: 30px;
}

#hero-logo {
    width: 200px;
}

.heroimg {
    margin-top: 30px;
    display: block;
    gap: 40px;
}

@media(max-width:700px) {
    #hero-image {
        width: 100%;
        height: auto;
        border-radius: 15px;
        align-self: center;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f0f0f0;
        text-align: center;
        padding: 100px 0;
        gap: 10px;
        height: 650px;
    }
}

@media(max-width:860px) {
    #hero-image {
        width: 70%;
    }
}

@media(max-width:500px) {
    #hero-image {
        width: 100%;
    }
}

/* About Us Section */
.about-us {
    background-color: #fff;
    text-align: left;
    background-image: url('./Images/image4.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 50vh;
}

.about-content {
    background-color: hsla(220, 17%, 86%, 0.288);
    backdrop-filter: blur(10px);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-size: 1.5rem;
}

.about-us h2 {
    margin-bottom: 20px;
    text-align: center;
    color: hsl(34, 89%, 45%);
}

@media(max-width:500px) {
    #aboutPic {
        border-radius: 5px;
    }
}

@media(max-width:700px) {
    .about-us {
        background-color: #fff;
        padding: 80px 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 250px;
    }

    #aboutPic {
        width: 90%;
        height: auto;
        border-radius: 10px;
    }

    .about-content {
        font-size: 1rem;
        height: 250px;
    }
}

/* Projects Section */
.projects {
    background-color: #f0f0f0;
    padding: 80px 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects h2 {
    margin-bottom: 20px;
    text-align: center;
}

.each-proj {
    display: flex;
    justify-content: space-between;
    gap: 50px;

}

.each-proj p {
    width: 200px;
}

@media(max-width:500px) {
    .each-par h3 {
        font-size: 0.1rem;
    }

    .projImg {
        width: 100%;
    }
    
    .project-par {
        display: block;
    }

    .each-par {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media(max-width:700px) {
    .each-proj {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
        width: 90%;
    }
    #heading-info{
        font-size: 100px;
    }
    .project-par {
        display: block;
    }

    .each-par h3 {
        font-size: 0.1rem;
    }

    .each-par {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media(max-width:860px) {
    .projImg {
        width: 100%;
    }
}


/* Mission and Vision Section */
.mission-vision {
    background-color: hsla(76, 73%, 51%, 0.253);
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-vision h2 {
    margin-bottom: 10px;
    text-align: center;
}

.mission-content {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.mission-content p {
    width: 400px;
    margin-top: 30px;
}

@media(max-width:700px) {
    .mission-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 50px;
    }

    .mission-content p {
        width: 90%;
    }

    .mission-vision {
        height: auto;
    }
}

/* Contact Us Section */
.contact-section {
    max-width: 100rem;
    max-height: 80rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 3rem 1rem;
    background: #f0f0f0;
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
}

.contact-intro>*+* {
    margin-top: 1rem;
}

.contact-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.contact-description {
    color: rgb(107 114 128);
}

.form-group-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    display: flex;
    height: 2.5rem;
    width: 50%;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.form-input::placeholder,
.form-textarea:focus-visible {
    color: #6b7280;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
    outline: 2px solid #2563eb;
    outline-offset: 2px;
}

.form-textarea {
    min-height: 120px;
}

.form-submit {
    width: 30%;
    height: 40px;
    margin-top: 1.2rem;
    background-color: #918bd3;
    color: #fff;
    padding: 13px 5px;
    border-radius: 0.375rem;
    cursor: pointer;
}

.form-submit:hover {
    background-color: hsla(245, 39%, 72%, 0.678);
}

.contact-company ul {
    margin-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-company ul a {
    text-decoration: none;
    color: #333;
}

/*news-letter*/
.news-letter {
    margin-top: 50px;
}

.news-letter form {
    background-color: hsla(240, 37%, 88%, 0.5);
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
}

@media(max-width:700px) {
    .contact-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
    }

    .contact-company h1 {
        margin-top: 70px;
    }

    .form-submit {
        width: 40%;
    }
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
}

@media(max-width:700px) {
    footer {
        margin-top: 50px;
    }
}