@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Tilt+Warp&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(255, 165, 0, 0.7);
    margin: none;
    background-color: orange(255, 136, 0, 0.5);
}
.description{
    font-family: Arsenal SC, sans-serif;
    font-weight: 700;
}
.heading-info{
    font-size: 170px;
    font-family: Tilt Warp;
    color: rgb(0, 0, 0);
    margin: 10px;
    font-weight: bolder;
}
.hero-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 10px;
}
.hero-description{
    font-size: 35px;
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.hero-buttons{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 10px;
}
.hero-navs:nth-child(1){
    background-color: darkorange;
    height: 50px;
    width: 90px;
    border-radius: 6px;
    font-size: 15px;
}
.hero-navs:nth-child(2){
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 90px;
    border-radius: 6px;
    border-style: solid;
    font-size: 15px;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
.hero-navs:nth-child(1):hover{
    background-color: aliceblue;
    cursor: pointer;
    border-color: black;
    animation: shake-min;
    animation-duration: 1s;
}
#MAIN {
    background-image: url(Images/image3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.hero-navs:nth-child(2):hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-color:darkorange;
    color: #000000;
    animation: shake-min;
    animation-duration: 1s;
}
@keyframes shake-min{
    0%{transform: rotateZ(2deg);}
    25%{transform: rotateZ(-2deg);}
    50%{transform: rotateZ(2deg);}
    100%{transform: rotateZ(-2deg);}
}

#Enroll-But:hover{
    animation: shake-min;
    animation-duration: 1s;
}
#BTT{
    width: 50px;
    height: 50px;
    border: none;
    background-color: orange;
    position:fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 25px;
}
#BTT:hover{
    cursor: pointer;
}
.DONATE{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
}
.donate{
    background-color: orange;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border-style: solid;
    border-color: orange;
    
}
.donate:hover{
    cursor: pointer;
    background-color: white;
    border-color: black;
}

